{% extends 'base.html' %}

{% block conteudo %}
    {% set mensagens = get_flashed_messages() %}
    {% if mensagens %}
        {% for msg in mensagens %}
            <div class="message">
                {{ msg }}
            </div>
        {% endfor %}
    {% endif %}
    <form action="/capitulos/save" method="post">
        <div>
            <label for="titulo">Título: </label>
            <input type="text" name="titulo" id="titulo">
        </div>
        <div>
            <label for="pagina_inicial">Pagina: </label>
            <input type="number" name="pagina_inicial" id="pagina_inicial">
        </div>
        <div>
            <label for="autor">Autor: </label>
            <select name="id_autor" id="autor">
                <option value=""></option>
                {% for a in autores %}
                <option value="{{a.id_autor}}">{{a.nome}}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit">Salvar</button>
    </form>
{% endblock %}